.DS_Store
node_modules
/dist
# Swagger
Swagger UI_files
Swagger UI.html

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
tutor-selection-tool-vue.iml
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
